
header{
  border-bottom: 5px green solid;
  padding: 20px;
}

nav {
  border-right: 3px solid green;
  width: 200px;
  height: 600px;
  float: left;


}
nav ol{
  list-style: none;
}
article {
  padding-left:30px;
  float:left;

}
h2{
  font-size:20px;
  color: red;
}

div
{
  float: right;
}
